<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.h2.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.lyl.h2.entity.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="passWord"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
    </resultMap>

    <insert id="insertUser">
        insert into
            user
            (
                user_name,
                password,
                real_name
            )
            values
            (
                #{userName},
                #{passWord},
                #{realName}
            )

    </insert>

    <select id="getUser" resultType="com.lyl.h2.entity.User">
        select
                id,
                user_name userName,
                password,
                real_name realName
        from
            user
        where id = #{id}
    </select>

</mapper>